.heading {
  &__wrapper {
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    @include fontTitle1();
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
    padding: 67px 0 97px 0;
  }
}
