.dropdown {
  display: flex;
  flex-direction: row;
  position: relative;
  display: inline-block;
  position: relative;

  &.colorScheme1 {
    .dropdownToggle {
      background-color: $mainGreenapple;
      color: $mainDark;

      &:after {
        content: ' ▼';
        color: $mainDark;
      }
    }
    .dropdownMenu {
      background-color: $mainLight;
    }
  }

  &.colorScheme2 {
    .dropdownToggle {
      background-color: transparent;
      color: var(--text-color);
      border: 1px solid var(--text-color);

      &:after {
        content: ' ▼';
        color: var(--text-color);
      }
    }
    .dropdownMenu {
      background-color: #bde0fe;
    }
  }

  .dropdownToggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    width: 160px;
    height: 48px;
    border: none;
    padding: 13px 20px;
    @include fontMainText2;
    cursor: pointer;
    border-radius: 16px;

    &.colorScheme2Toggle:after {
      color: white;
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    li {
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
