.dropdown {
  position: relative;
  display: inline-block;

  &.colorScheme1 {
    .dropdownToggle {
      background-color: #d4d700; // yellow-green
      color: black;

      &:after {
        content: ' ▼';
        color: black;
      }
    }
    .dropdownMenu {
      background-color: #ffffff; // white
    }
  }

  &.colorScheme2 {
    .dropdownToggle {
      background-color: #ff9f94; // coral pink
      color: black;

      &:after {
        content: ' ▼';
        color: white;
      }
    }
    .dropdownMenu {
      background-color: #bde0fe; // light blue
    }
  }

  .dropdownToggle {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;

    &.colorScheme2Toggle:after {
      color: white;
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    li {
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
