.heroSection {
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: var(--text-color);
    margin-top: 110px;
    @include fontMainText1();
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin-bottom: 15vw;

    &.light {
      background-image: url('../../assets/images/greeting-wave.png');
    }

    &.dark {
      background-image: url('../../assets/images/greeting-wave-dark.png');
    }
  }
  &__infoBlock {
    display: flex;
    flex-direction: column;
    width: 43%;
  }
  &__title {
    margin-top: 68px;
    @include fontTitle1();
    text-transform: uppercase;
    margin-bottom: 48px;
    width: 80%;
    &__pink {
      color: var(--peach);
    }
  }
  &__text {
    margin-bottom: 120px;
    width: 80%;
  }
  &__btn {
  }
  &__animationBlock {
	width: 35%;
	position: relative;
  }
  &__animationImg {
position: absolute;
width: 70vw;
left: -20vw;
top: -5vw;
  }
}
