.catalog {
  &__navigation {
    display: flex;
    align-items: center;
    padding-top: 4%;
    max-width: 1070px;
    justify-content: space-between;
    margin: 0 auto;
    @include fontText();
  }
  &__navigationItem {
    padding: 10.5px 20px;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    text-decoration: none;
    color: var(--text-color);

    &.active {
      background-color: var(--text-color);
      color: var(--background-color);
    }
  }
}