.plateConstructor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &__constructorBlock {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
  }
}
