.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.position {
  width: 13vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first {
  width: 18vw;
  height: 13vw;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-8vw);
}

.second {
  width: 17vw;
  height: 19vw;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(4vw);
}

.third {
  width: 16vw;
  height: 14vw;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-10vw);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 160px;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  transition: font-size 0.3s ease;

  &:hover {
    font-size: 32px; // Увеличение шрифта при наведении
  }

  &.backgroundColor__1 {
    background-color: var(--yellow);
  }
  &.backgroundColor__2 {
    background-color: var(--peach);
  }
  &.backgroundColor__3 {
    background-color: var(--blue);
  }
}
