.buttonsContainer {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.position {
  width: 13vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first {
  width: 13vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-5vw);
}

.second {
  width: 15vw;
  height: 17vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.third {
  width: 13vw;
  height: 12vw;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-6vw);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 160px;
  @include fontSubTitle2();
  cursor: pointer;

  &.backgroundColor__1 {
    background-color: $mainGreenapple;
  }
 &.backgroundColor__2 {
  background-color: var( --peach);
 }
 &.backgroundColor__3 {
  background-color: var( --blue);
 }
}
