.first {
  width: 100px;
  height: 100px;
  background-color: $mainPeach;
}

.second {
  width: 100px;
  height: 100px;
  background-color: $mainGreenapple;
}

.third {
  width: 100px;
  height: 100px;
  background-color: $blueLight;
}
