.contentSlider {
	&__container {
	  width: 100%;
	  display: flex;
	  flex-wrap: nowrap;
	  justify-content: space-between;
	}

	&__blockImgAndBtns {
		width: 50vw;
		height: 50vw;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}
 
	&__blockImg {
	  width: 32vw;

	}
 
	&__img {
	  width: 32vw;
	}
 
	&__blockBtns {
	  width: 15vw;
	}
 
	&__blockDescription {
		width: 43vw;
	  display: flex;
	  flex-direction: column;
	  margin-top: 5vw;
 
	  &__title {
		 @include fontTitle2();
		 margin-bottom: 5vw;

 
		 &Pink {
			color: $mainPeach;
		 }
	  }
 
	  &__text {
		 @include fontMainText2();
		 margin-bottom: 7vw;
		 width: 30vw;
	  }
 
	  &__btn {
		@include fontSubTitle1();
	  }
	}
 }
 
 .highlight {
	color: $mainPeach;
 }