.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1216px;
}

.maindish {
  &__title {
    @include fontTitle2();
    color: var(--text-color);
    text-transform: uppercase;
  }
  &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, auto);
      gap: 50px 30px;
  }
  &__link {
    @include fontMainText2();
    align-self: flex-end;
  }
}
