.switcher {
  display: inline-block;
  position: relative;
  width: 68px;
  height: 27px;
}

.switcher__input {
  display: none;
}

.switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 34px;
  background-color: rgb(42, 120, 122);
  transition: 0.3s;

  &::before {
    content: '';
    position: absolute;
    cursor: pointer;
    left: -3px;
    bottom: -7px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $blueLight;
    transition: 0.4s;
    background-image: url('../../../assets/images/icons/switcher-sun.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.switcher__input:checked + .switcher__slider {
  background-color: rgb(11, 67, 78);

  &::before {
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    background-color: rgb(213, 101, 21);
    background-image: url('../../../assets/images/icons/switcher-moon.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
