.switcher {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 48px;
}

.switcher__input {
  display: none;
}

.switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 34px;
  background-color: $blueDark;
  transition: 0.3s;

  &::before {
    content: '';
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $mainLight;
    transition: 0.4s;
    background-image: url('../../../assets/images/icons/themeIcons/Theme-sun.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.switcher__input:checked + .switcher__slider {
  background-color: $blueLight;

  &::before {
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    background-color: $mainDark;
    background-image: url('../../../assets/images/icons/themeIcons/Theme-moon.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
