.plateMethod {
	&__container {
	  width: 100%;
	  display: flex;
	  flex-wrap: nowrap;
	  justify-content: space-between;
	  margin: 0 auto;
	  margin-top: 3vw;
	  position: relative;
	  margin-bottom: 7vw;
 
	  &__bgImg2 {
		 position: absolute;
		 width: 10vw;
		 top: 8vw;
		 left: 3vw;
	  }
	  &__bgImg7 {
		 position: absolute;
		 left: 38vw;
		 top: 4vw;
		 width: 9vw;
	  }
	}
 
	&__methodBlock {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  margin-left: 2%;

 
	  &__title {
		 text-transform: uppercase;
		 font-weight: 700;
		 font-size: 7vw;
		 width: 100%;
		 line-height: normal;
		 z-index: 10;
		 margin-bottom: 3vw;
		 color: var(--text-color);
 
		 &Img {
			width: 10vw;
			padding: 0% 2%;
		 }
 
		 &--salmon {
			color: var(--peach);
			padding-left: 13vw;
		 }
	  }

	  &__titleTwo {
		@include fontMainText1();
		margin-bottom: 3vw;
		width: 30vw;
	  }

	  &__text {
		@include fontText();
		margin-bottom: 1vw;
		width: 13vw;
	  }
 
	  &__autors {
		margin-right: 1vw;
		padding-right: 3vw;
		 width: 85vw;
		 height: 40vw;
		 display: flex;
		 flex-wrap: nowrap;
		 justify-content: center;
		 gap: 2vw;
		 margin-top: 2vw;
		 background-repeat: no-repeat;
		 background-size: 44vw;
		 color: var(--always-dark);
	
	  &.light {
		background-image: url(../../assets/images/элипс-метод-тарелки-страница.png);
	 }

	 &.dark {
		background-image: url(../../assets/images/элипс-метод-тарелки-страница-тёмная.png);
	 }
	}
 
	  &__autorOne, &__autorTwo {
		 display: flex;
		 flex-direction: column;
		 width: 15vw;
	  }

	  &__autorOne {
		padding-top: 2vw;

		 
		&Img {
			width: 17vw;
		 }
 
		 &Name {
			margin-top: 3%;
			@include fontMainText1();
			display: flex;
			flex-wrap: nowrap;
		 }
 
		 &Description {
			margin-top: 3%;
			@include fontText();
		 }
	  }

	  &__autorTwo {
		padding-top: 8vw;

		 
		&Img {
			width: 17vw;
		 }
 
		 &Name {
			margin-top: 3%;
			@include fontMainText1();
			display: flex;
			flex-wrap: nowrap;
		 }
 
		 &Description {
			margin-top: 3%;
			@include fontText();
		 }
	  }
 
	  &__autorsDottedLineImg {
		padding-top: 5vw;
		 height: 30vw;
		 width: 3vw;
	  }
 
	  &__btn {
		 display: flex;
		 
		 margin-top: 5vw;
		}
	}
}
 
 