.button {
  border: none;
  border-radius: 160px;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &.colorScheme__1 {
    background-color: rgba($mainGreenapple, 0.5);
    color: rgba($mainDark, 0.5);

    &:hover {
      background-color: $mainGreenapple;
      color: $mainDark;
    }
    &::after {
      background-color: rgba($mainGreenapple, 0.5);
    }
  }

  &.colorScheme__2 {
    background-color: $mainGreenapple;
    color: $mainDark;
  }

  &.colorScheme__3 {
    background-color: transparent;
    color: $mainDark;
    border: 2px solid $mainDark;
    &.active {
      background-color: $mainDark;
      color: transparent;
    }

    &:active {
      background-color: $mainDark;
      color: $mainLight;
    }
  }
  &.colorScheme__4 {
    background-color: transparent;
    color: $mainDark;
    border: 2px solid $mainDark;
  }
  &.size__1 {
    width: 300px;
    height: 48px;
    padding: 12px 68px;
    @include fontMainText1;
  }
  &.size__2 {
    width: 350px;
    height: 68px;
    padding: 12px 68px;
    @include fontSubTitle1;
  }
  &.size__3 {
    width: 150px;
    height: 49px;
    padding: 10px 34px;
    border-radius: 40px;
    @include fontSubTitle1;
  }
}
