.carousel__Container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
}

.leftSlider,
.rightSlider {
  width: 50%;
  position: relative;
}

.leftSlider {
  margin-top: -20px; /* Сдвигаем левую половинку вверх */
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}

img {
  width: auto;
  height: 100%;
  max-height: 300px;
  transform: scale(1);
}

.leftArrow,
.rightArrow {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.leftArrow {
  left: -50px;
}

.rightArrow {
  right: 70px;
  bottom: 25px;
}

.slider__image {
  width: 50%;
  height: auto;
}
