.carousel {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto;
  }
  &__imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 300px;
    overflow: hidden;
  }
  &__leftSlider,
  &__rightSlider {
    width: 50%;
    position: relative;
  }
  &__leftSlider {
    margin-top: -20px;
  }
  &__slider__image {
    width: 100%;
    height: auto;
    max-height: 400px;
    transform: scale(1);
  }
}

.leftArrow,
.rightArrow {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.leftArrow {
  left: -50px;
}

.rightArrow {
  right: 70px;
  bottom: 25px;
}
