.plateMethod {
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    color: $mainDark;
    margin: 0 auto;
    margin-top: 5%;
  }

  &__methodBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 2%;

    &__title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 8vw;
      width: 100%;
      line-height: normal;

      &Img {
        width: 17%;
        height: auto;
        padding: 0% 2%;
      }

      &--salmon {
        color: $mainPeach;
        padding-left: 20%;
      }
    }

    &__autors {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      gap: 9%;
      margin-top: 3%;
    }

    &__autor {
      display: flex;
      flex-direction: column;
      max-width: 30%;


      &Img {
        width: 100%;
      }

      &Name {
        margin-top: 3%;
		  @include fontMainText1();
		  display: flex;
		  flex-wrap: nowrap;
      }

      &Description {
        margin-top: 3%;
		  @include fontText();
      }
    }

    &__autorsDottedLineImg {
      height: 100%;
      width: 3%;
    }

	 &__btn {
		display: flex;
		justify-content: center;
		margin-top: 75px;
	  }
  }

  &__bookBlock {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title {
      @include fontTitle2();
      margin-bottom: 3%;
		text-align: end;

		&Blue {
			color: $blueLight;
		}
    }

    &Imgs {
      width: 100%;
      height: 100%;
      background-image: url(../../assets/images/Ellipse-salmon.png);
      background-position: top center;
      background-repeat: no-repeat;
		background-size: 100%;
    }

    &Img {
      max-width: 100%;
      height: auto;
      margin-top: 17%;
      padding-right: 13%;
    }
  }

}
