.plateMethod {
	&__container {
	  width: 100%;
	  display: flex;
	  flex-wrap: nowrap;
	  color: $mainDark;
	  margin: 0 auto;
	  margin-top: 60px;
	}
 
	&__methodBlock {
		width: 50%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
 
	  &__title {
		 text-transform: uppercase;
		 font-weight: 700;
		 font-size: 6vw;
		 text-align: center;
 
		 &Img {
			width: 13%;
			height: auto;
		 }
	  }
 
	  &__autors {
	
		width: 90%;
		 display: flex;
		 flex-wrap: nowrap;
		 justify-content: center;
		 gap: 3%;
	  }
 
	  &__autor {
		 display: flex;
		 flex-direction: column;
		 max-width: 180px;
		 align-items: center;
 
		 &Img {
			height: auto;
		 }
 
		 &Name {
			margin-top: 10px;
			font-weight: bold;
		 }
 
		 &Description {
			text-align: center;
			margin-top: 5px;
		 }
	  }
 
	  &__autorsDottedLineImg {
		 height: 271px;
		 width: 27px;
	  }
	}
 
	&__bookBlock {
		width: 50%;
		height: auto;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
 
	  &__title {
		 font-size: 24px;
		 margin-bottom: 20px;
	  }
 
	  &Imgs {
		 width: 100%;
		 height: 100%;
		 background-image: url(../../assets/images/Ellipse-salmon.png);
		 background-repeat: no-repeat;
		 background-position: center;
	  }
 
	  &Img {
		 max-width: 100%;
		 height: auto;
		 margin-top: 10%;
	  }
	}
 }
 