.plateMethod {
	&__container {
	  max-width: 1280px;
	  display: flex;
	  flex-wrap: nowrap;
	  color: $mainDark;
	  margin: 0 auto;
	  gap: 35px;
	  margin-top: 60px;
	}
 
	&__methodBlock {
	  display: flex;
	  flex-direction: column;
 
	  &__title {
		 text-transform: uppercase;
		 font-weight: 700;
		 font-size: 100px;
 
		 &Img {
			width: 100px;
			height: auto;
		 }
	  }
 
	  &__autors {
		 display: flex;
		 flex-wrap: nowrap;
		 gap: 27px;
	  }
 
	  &__autor {
		 display: flex;
		 flex-direction: column;
		 max-width: 180px;
		 align-items: center;
 
		 &Img {
			width: 140px;
			height: 140px;
		 }
 
		 &Name {
			margin-top: 10px;
			font-weight: bold;
		 }
 
		 &Description {
			text-align: center;
			margin-top: 5px;
		 }
	  }
 
	  &__autorsDottedLineImg {
		 height: 271px;
		 width: 27px;
	  }
	}
 
	&__bookBlock {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
 
	  &__title {
		 font-size: 24px;
		 margin-bottom: 20px;
	  }
 
	  &Imgs {
		 width: 600px;
		 height: 600px;
		 background-image: url(../../assets/images/Ellipse-salmon.png);
		 background-repeat: no-repeat;
		 display: flex;
		 justify-content: center;
		 align-items: center;
	  }
 
	  &Img {
		 width: 500px;
	  }
	}
 }
 