.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($mainDark, 0.7);
  display: flex;
  justify-content: center;
  z-index: 100000;
}
.modal {
  &__content {
    background: var(--background-color);
    border-radius: 20px;
    top: 50px;
    width: 600px;
    height: 600px;
    position: relative;
    z-index: 100001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 66px 100px;
    box-shadow: 0px 6px 20px -9px var(--text-color);
  }
  &__name {
    @include fontTitle2;
    text-align: center;
  }
  &__reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    @include fontText;
    &__link {
      padding-right: 5px;
      cursor: pointer;
      color: $blueDark;
    }
    &__text {
    }
  }
}

.login {
  &__info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__name {
    @include fontText;
    text-align: center;
  }
  &__phone {
    @include font-face-rubik(32px, 400, 120%);
  }
  &__infoBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    &__text {
      text-align: center;
      width: 400px;
      height: 48px;
      margin-bottom: 84px;
      @include fontMainText2;
    }
  }
  &__input {
    width: 300px;
    height: 48px;
    border-radius: 20px;
    border: transparent;
    padding-left: 20px;
    @include fontMainText1;
    color: $mainDark;
    border: solid 1px #828282;
    // &::placeholder {
    // }
    &:focus {
      outline: #828282;
    }
  }
}

.loginButton {
  display: flex;
  justify-content: center;
}

.error {
  width: 450px;
  @include fontArticle;
  color: $peachDark;
  margin-top: -40px;
  min-height: 18px;
  visibility: hidden;
  text-align: center;
}

.error:empty::after {
  content: '\00a0';
}

.error:not(:empty) {
  visibility: visible;
}

.closeButton {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  cursor: pointer;
  background-color: $mainGreenapple;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
