.header {
  &__container {
  }
  &__navigation {
    display: flex;
    align-items: center;
    gap: 106px;
    justify-content: space-between;
    padding: 20px;
  }
  &__logo {
    margin-right: 20px;
  }
  &__userInfo {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 18px;
  }
  &__userInfo a {
    text-decoration: none;
    color: black;
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
