.header {
  &__container {
    width: 100vw;
    background-color: var(--background-opacity);
    position: fixed; // Фиксированное положение хедера
    top: 0;
    z-index: 1000; // Хедер выше остального контента
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 60px 20px 32px;
  }
  &__logo {
    margin-right: 5vw;
  }
  &__userInfo {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 18px;
  }
  &__userInfo a {
    text-decoration: none;
    color: black;
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  &.activeLink {
    font-weight: bold; // Делает ссылку жирной при активном состоянии
  }
}
