.input {
  &__container {
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 9999px;
    padding: 11px 30px;
  }
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__field {
    border: none;
    outline: none;
    height: 26px;
    flex-grow: 1;
    padding: 10px 8px 10px 8px;
    background: transparent;
    &::placeholder {
      @include fontMainText2;
      color: $mainDark;
    }
  }
  &__filter {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.colorScheme {
  &__1 {
    background: $mainLight;
    border-color: var(--border-input);

    .input__field {
      @include fontMainText2;
      color: $mainDark;
    }

    .input__button img {
      filter: invert(0%);
    }
  }
  &__2 {
    background: $mainPeach;
    border-color: $mainPeach;

    .input__field {
      color: $mainLight;
    }

    .input__button img {
      filter: invert(100%);
    }
  }
}
