.input {
  &__container {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 9999px;
    padding: 4px 8px;
  }
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__field {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 8px;
    background: transparent;
    &::placeholder {
      color: inherit;
    }
  }
}

.colorScheme {
  &__1 {
    background: $mainLight;
    border-color: $mainDark;

    .input__field {
      color: $mainDark;
    }

    .input__button img {
      filter: invert(0%);
    }
  }
  &__2 {
    background: $mainPeach;
    border-color: $mainPeach;

    .input__field {
      color: $mainLight;
    }

    .input__button img {
      filter: invert(100%);
    }
  }
}
