.input {
  &__container {
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 9999px;
    padding: 4px 8px;
  }
  &__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__field {
    border: none;
    outline: none;
    height: 26px;
    flex-grow: 1;
    padding: 10px 8px 6px 8px;
    background: transparent;
    &::placeholder {
      @include fontMainText1;
      color: var(--color-input);
    }
  }
      &__filter {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
}

.colorScheme {
  &__1 {
    background: var(--background-input);
    border-color: var(--border-input);

    .input__field {
      @include fontMainText1;
      color: var(--color-input);
    }

    .input__button img {
      filter: invert(0%);
    }
  }
  &__2 {
    background: $mainPeach;
    border-color: $mainPeach;

    .input__field {
      color: $mainLight;
    }

    .input__button img {
      filter: invert(100%);
    }
  }
}
