
@use 'sass:map';
@import '../variables.scss';

$themes: (
  dark: (
    colors: (
      testBackground: $colorTestBlue1,
    ),
  ),
  light: (
    colors: (
      testBackground: $colorTestBlue2,
    ),
  ),
);

@mixin themed {
  @each $theme, $map in $themes {
    .theme-#{$theme} {
      @each $key, $submap in map.get($map, 'colors') {
        #{$key}: #{$submap} !important;
      }
    }
  }
}

@function t($theme, $key) {
  @return map-get(map-get(map.get($themes, $theme), 'colors'), $key);
}
