a {
  list-style: none;
  text-decoration: none;
  color: var(--always-white);
}

.footer {
  &__container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url('../../assets/images/Подвал-фон.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
	 color: var(--always-white);

  }

  &__wrapper {
    width: 100%;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    padding: 50px 32px 20px 32px;
	 
  }

  &__logo {
	margin-right: 44px;
 }

  &__navBlock {
    display: flex;
    flex-wrap: nowrap;
	 justify-content: space-between;
	 margin-bottom: 30px;
  }

  &__navList {


    &__item {
      @include fontMainText2();
    }

	 &__one {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 16px;
	 }
	 &__two {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 16px;
	 }
	 &__three {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 16px;
	 }
	 &__four {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 16px;
	 }
	 &__five {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 16px;
	 }
  }

  &__socialAndAppAndQrWrapper {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 2vw;
    gap: 30px;
  }

  &__socialAndAppBlock {
    display: flex;
    flex-direction: column;

  }

  &__socialBlock {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 40px;
  }

  &__socialTitle {
    @include fontMainText3();
  }

  &__socialIcons {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
  }

  &__appBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__appTitle {
    @include fontMainText3();
  }

  &__appIcons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }


  &__rightsText {
    text-align: center;
    @include fontArticle2();
    margin-bottom: 32px;
    padding: 0px 20px;
  }

&__qrImg {
	width: 7vw;
}
}
