.footer__container {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-image: url('../../assets/images/footer.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
 }