.navBar {
  &__links {
    display: flex;
    gap: 46px;
    @include fontMainText3;
    cursor: pointer;
  }
  &__links a {
    text-decoration: none;
    color: $mainDark;
  }
  &__links .activeLink {
    font-weight: 600;
  }
}
