.navBar {
  &__links {
    display: flex;
    gap: 46px;
    @include fontMainText3;
  }
  &__links a {
    text-decoration: none;
    color: black;
  }
  &__links .activeLink {
    font-weight: 600;
  }
}
