.navBar {
  &__links {
    display: flex;

    gap: 46px;
    @include fontMainText3;
    cursor: pointer;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    .activeLink {
      font-weight: 600;
    }
  }

  .link {
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
