.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 0 15%;
}

.ad {
  &__ideology {
    width: 25%;
    &Title {
      display: flex;
      flex-direction: column;
      &Changeable {
        @include fontTitle2();
        color: var(--text-color);
      }
      &Pink {
        @include fontTitle2();
        color: $mainPeach;
      }
    }
    &Veggies {
      padding-top: 3%;
      width: 100%;
      max-width: 40vw;
      height: auto;
    }
  }
  &__phoneImg {
    display: flex;
    justify-content: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 25%;
    &Img {
      padding-top: 3%;
      width: 100%;
      max-width: 10vw;
      height: auto;
      align-self: flex-end;
      }
    &Title {
      @include fontSubTitle1();
      font-weight: 500;
      text-transform: uppercase;
      color: var(--text-color);
    }
    &Description {
      @include fontMainText1();
      color: var(--text-color);
    }
    &Text {
      @include fontText();
      text-transform: uppercase;
      color: var(--text-color);
    }
    &Download {
      display: flex;
      flex-direction: row;
      gap: 5%;
      &Option {
      }
    }
  }
}
