.container {
  display: flex;
  gap: 31px;
  margin: 0 auto;
  max-width: 1216px;
}

.ad {
  &__ideology {
    &Title {
      display: flex;
      flex-direction: column;
      &Changeable {
        @include fontTitle2();
        color: var(--text-color);
      }
      &Pink {
        @include fontTitle2();
        color: var(--peach);
      }
    }
    &Veggies {
      padding-top: 3%;
      padding-left: 50px;
      width: 100%;
      max-width: 40vw;
      height: auto;
    }
  }
  &__phoneImg {
    margin-top: auto;
    img {
      height: 525px;
    }
  }
  &__info {
    display: flex;
    position: relative;
    &Img {
      position: absolute;
      top: 30px;
      right: 72.4px;
      width: 156px;
    }
    &Block {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      padding-left: 70px;
      &Description {
        @include fontSubTitle1();
        color: var(--text-color);
        width: 350px;
        text-transform: none;
      }
      &Download {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &Option {
          img {
            width: 206px;
          }
        }
      }
    }
  }
}
