@import './assets/styles/variables.scss';

:root {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

:root[data-theme='light'] {
  --background-color: #fffcf2;
  --background-opacity: rgba(255, 252, 242, 0.85);
  --text-color: #2e3a45;
  --color-blue: #aedade;
  --background-input: white;
  --background-drag: white;
  --border-input: #828282;
  --color-input: grey;
  --peach: #fe907a;
  --blue: #aedade;
  --yellow: #e2dd01;
  --text-color-white-first: #fffcf2;
  --always-dark: #2e3a45;
}

:root[data-theme='dark'] {
  --background-color: #2e3a45;
  --background-opacity: rgba(46, 58, 69, 0.85);
  --text-color: #fffcf2;
  --color-blue: #59a2a9;
  --background-input: #2e3a45;
  --background-drag: #eae4ce;
  --border-input: #eae4ce;
  --color-input: #eae4ce;
  --peach: #e5674f;
  --blue: #59a2a9;
  --yellow: #c0bd20;
  --text-color-white-first: #2e3a45;
  --always-dark: #2e3a45;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background: var(--background-color);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow-x: hidden;
  height: 900px;
}
