@import './assets/styles/variables.scss';

:root {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

:root[data-theme='light'] {
  --background-color: #f7f4e8;
  --text-color: #2e3a45;
  --color-blue: #aedade;
}

:root[data-theme='dark'] {
  --background-color: #2e3a45;
  --text-color: #f7f4e8;
  --color-blue: #59a2a9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background: var(--background-color);
  color: var(--text-color);
}
