@mixin font-face-montserrat($font-size, $font-weight, $line-height) {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin fontPrice() {
	@include font-face-montserrat(28px, 500, 130%);
	letter-spacing: 2%;
}