@use 'sass:map';
// @import './fonts.scss';

//colors
// $colorWhite: #ffffff;
// $colorTestBlue1: #007bff;
// $colorTestBlue2: #6610f2;


$mainLight: #F7F4E8;
$green: #AEDEB6;
$blueLight: #AEDADE;
$mainPeach: #FE907A;
$mainGreenapple: #E2DD01;
$color1: #E7B959;
$mainDark: #2E3A45;
$brown: #B19069;
$blueDark: #59A2A9;
$violet: #E08AAC;
$color2: #C7A165;
$color3: #D5975A;


@mixin width-height($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-grid($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
