@use 'sass:map';
// @import './fonts.scss';

//colors
// $colorWhite: #ffffff;
// $colorTestBlue1: #007bff;
// $colorTestBlue2: #6610f2;


$baseMainBackgroungColor: #F7F4E8;
$color1: #B19069;
$color2: #FE907A;
$color3: #E2DD01;
$color4: #2E3A45;
$color5: #E08AAC;
$color6: #D5975A;
$color7: #C7A165;
$color8: #AEDADE;

@mixin width-height($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin flex-grid($display, $direction, $justify, $align) {
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}