@use 'sass:map';
// @import './fonts.scss';

$color-main-light: #f7f4e8;
$color1: #b19069;
$color2: #fe907a;
$color3: #e2dd01;
$color4: #2e3a45;
$color5: #e08aac;
$color6: #d5975a;
$color7: #c7a165;
$color8: #aedade;

@mixin width-height($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-grid($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
