.sliderContainer {
  width: 170px;
}

.slider-container {
  .plateSliderPrevBtn,
  .plateSliderNextBtn {
    background-color: red;
    color: rgb(189, 129, 129);

    &:hover {
      background-color: blue;
    }
  }

  .plateSliderPrevBtn {
    background-color: red;
    color: rgb(189, 129, 129);
  }

  .plateSliderNextBtn {
    background-color: red;
    color: rgb(189, 129, 129);
  }
}
