.container {
}

.stories {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.sliderSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.test {
  @include fontTitle1;
}
