.container {
  display: flex;
  box-shadow: 0px 4px 13px -8px var(--text-color);
  border-radius: 20px;
  width: 328px;
  padding: 8px;
}

.comments {
  &__avatar {
    padding-right: 10px;
  }
  &__reviewer {
    &Name {
      @include fontMainText3;
      color: var(--text-color);
    }
    &Stars {
    }
    &Text {
      @include fontText;
      color: var(--text-color);
    }
  }
  &__date {
    @include fontArticle;
    color: var(--color-input);
    margin-left: auto;
  }
}
